body {
    background-color: rgba(88, 0, 189, 0.781);
}

header {
    text-align: center;
    background-color: rgba(88, 0, 189, 0.781);
    color: antiquewhite;
    height: 60px;
    padding-top: 5px;
}

.section-container {
    width: 100%;
    height: auto;
    background-color: beige;
    padding: 1% 0% 1% 0%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.div-container-agregar {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 5px;
}

.div-container-agregar>div {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
}

#input-imagen {
    font-size: 14px;
    height: 30px;
}

#input-cantidad {
    width: 50px;
}

label {
    /*font-size: 13px;*/
    margin-left: 10px;
    margin-right: 5px;
    margin-top: -3px;
}

input {
    height: 25px;
}

#btn-agregar-producto,
#btn-edicion,
#btn-confirmar-cambios {
    margin: 10px;
    width: 135px;
    font-size: small;
}

#btn-agregar-producto {
    margin-top: -7px;
    margin-left: 20px;
    height: 35px;
}

h5 {
    margin-left: 10px;
}


/************SECTION CARD***************/

.section-card {
    width: 250px;
    background-color: white;
    margin: 1%;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 350px;
}

.section-card>img {
    width: 250px;
    height: 250px;
}

.section-card>p {
    margin-bottom: 0px;
}

.section-card>button {
    border-style: none;
    background-color: rgba(88, 0, 189, 0.781);
    color: white;
    border-radius: 40%;
    width: 100px;
    height: 25px;
    margin-left: 30%;
    margin-bottom: 20px;
    font-size: smaller;
}

.section-card>button:hover {
    opacity: 0.8;
}

.section-card>p {
    margin-top: 2px;
}


/*************************/

#section-principal {
    display: flex;
    flex-direction: row;
}


/***********SECTION IMAGENES**************/

#section-imagenes {
    width: 30%;
}

.img-principal {
    width: 350px;
    height: 400px;
}


/*************************/